{% extends 'base.html' %}{% block content %} {% load static %}

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div>
            <img src="{% static '/assets/img/Layer2.png' %}" style="width: 40px" />
          </div>
          <div class="sidebar-brand-text mx-3"><span>Cipher Buddy</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item">
            <a class="nav-link" href="home">Submit Cyber Complaint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Submit Site Complaint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="status">Complaint Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfer">P2P Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About Us</a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline">
          <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
          <div class="container-fluid">
            <i class="fas fa-globe" style="
                color: rgb(64, 72, 135);
                font-size: 27px;
                margin-right: 8px;
              "></i>
            <h1 style="color: rgb(64, 72, 135); margin-bottom: 0px">
              Submit Site Compliant
            </h1>
            <ul class="navbar-nav flex-nowrap ml-auto">
              <li class="nav-item dropdown d-sm-none no-arrow">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i
                    class="fas fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto navbar-search w-100">
                    <div class="input-group">
                      <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                      <div class="input-group-append">
                        <button class="btn btn-primary py-0" type="button">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                  <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span
                      class="d-none d-lg-inline mr-2 text-gray-600 small">{% if user.is_authenticated %}
                      {{ user.first_name }}
                      {% endif %}</span><img class="border rounded-circle img-profile"
                      src="{% static '/assets/img/avatars/avatar1.jpeg' %}" /></a>
                  <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                    <a class="dropdown-item" href="#"><i
                        class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item"
                      href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a><a
                      class="dropdown-item" href="#"><i
                        class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
          <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4>Contact Information</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="contactForm" action="javascript:void();" method="get">
                    <input class="form-control" type="hidden" name="Introduction"
                      value="This email was sent from www.mywebsite.com" /><input class="form-control" type="hidden"
                      name="subject" value="My Contact Form" /><input class="form-control" type="hidden" name="to"
                      value="email@mywebsite.com" />
                    <div class="form-row">
                      <div class="col-md-6">
                        <div id="modal-successfail"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6" id="modal-message">
                        <fieldset>
                          <legend>
                            <i class="fa fa-envelope"></i> Contact Us
                          </legend>
                        </fieldset>
                        <div class="form-group has-feedback">
                          <label for="modal_from_name">Name</label><input class="form-control" type="text"
                            id="modal_from_name" tabindex="-1" name="from_name" required="" placeholder="Full Name" />
                        </div>
                        <div class="form-group has-feedback">
                          <label for="modal_from_email">Email</label><input class="form-control" type="email"
                            id="modal_from_email" name="from_email" required="" placeholder="Email Address" />
                        </div>
                        <div class="form-row">
                          <div class="col-sm-6">
                            <div class="form-group has-feedback">
                              <label for="modal_from_phone">Phone</label><input class="form-control" type="text"
                                id="modal_from_phone" name="from_phone" placeholder="Primary Phone" />
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="modal_calltime">Best Time to Call</label><select class="form-control"
                                id="modal_calltime" name="Call Time">
                                <option value="Morning" selected="">
                                  Morning
                                </option>
                                <option value="Afternoon">Afternoon</option>
                                <option value="Evening">Evening</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="modal_comments">Comments</label><textarea class="form-control" id="modal_comments"
                            name="Comments" placeholder="Enter comments here" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-block" type="submit">
                            Send <i class="fa fa-chevron-circle-right"></i>
                          </button>
                        </div>
                        <hr />
                      </div>
                      <div class="col-md-6">
                        <fieldset>
                          <legend>
                            <i class="fa fa-location-arrow"></i> Locate Us
                          </legend>
                        </fieldset>
                        <div class="form-row">
                          <div class="col-md-12">
                            <div class="static-map">
                              <a href="https://www.google.com/maps/place/2+15th+St+NW+Washington+DC+20024"
                                target="_blank"><img class="img-fluid"
                                  src="http://maps.googleapis.com/maps/api/staticmap?autoscale=2&amp;size=600x210&amp;maptype=roadmap&amp;format=png&amp;visual_refresh=true&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C582+1801+W+International+Speedway+Blvd+Daytona+Beach+FL+32114&amp;zoom=12"
                                  alt="Google Map of Washington Monument" /></a>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <fieldset>
                              <legend>
                                <i class="fa fa-envelope"></i> Contact Us
                              </legend>
                            </fieldset>
                            <div>
                              <span><strong>Name</strong></span>
                            </div>
                            <div><span>email@address.com</span></div>
                            <div><span>www.awebsite.com</span></div>
                            <hr />
                          </div>
                          <div class="col-sm-6">
                            <fieldset>
                              <legend>
                                <i class="fa fa-location-arrow"></i> Our Address
                              </legend>
                            </fieldset>
                            <div>
                              <span><strong>Office Name</strong></span>
                            </div>
                            <div><span>55 Icannot Dr.</span></div>
                            <div><span>Daytona Beach, FL 81500</span></div>
                            <div>
                              <abbr data-toggle="tooltip" data-placement="top"
                                title="Office Phone: 555-867-5309">O:</abbr>
                              555-867-5309
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <form id="contactForm" action="javascript:void();" method="get">
            <input class="form-control" type="hidden" name="Introduction"
              value="This email was sent from www.mywebsite.com" /><input class="form-control" type="hidden"
              name="subject" value="My Contact Form" /><input class="form-control" type="hidden" name="to"
              value="email@mywebsite.com" />
            <div class="form-row">
              <div class="col-md-6">
                <div id="successfail"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 col-md-12" id="message">
                <fieldset></fieldset>
                <div class="form-group has-feedback">
                  <label for="from_name">Name</label><input class="form-control" type="text" id="from_name"
                    tabindex="-1" name="from_name" required="" placeholder="Full Name" />
                </div>
                <div class="form-group has-feedback">
                  <label for="from_email">Email</label><input class="form-control" type="email" id="from_email"
                    name="from_email" required="" placeholder="Email Address" />
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="from_phone">Website</label><input class="form-control" type="text" id="from_phone"
                        name="site" placeholder="Website" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="calltime">Upload Image</label>
                      <br><input type="file" id="myfile" name="file">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                      <label for="from_phone">Subject</label><input class="form-control" type="text" id="from_phone"
                        name="subject" placeholder="Subject" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="details">Details</label><textarea class="form-control" id="details" name="details"
                    placeholder="Describe your experience here." rows="5"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">
                    Send <i class="fa fa-chevron-circle-right"></i>
                  </button>
                </div>
                <hr />
              </div>
            </div>
          </form>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © Cipher Buddy 2021</span>
            <div style="margin-top: 8px">
              <span>Made with&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;by BARCODERS</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="{% static '/assets/js/jquery.min.js' %}"></script>
  <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
  <script src="{% static 'js/jquery.easing.js' %}"></script>
  <script src="{% static '/assets/js/theme.js' %}"></script>
</body>
{% endblock content %}