{% extends 'base.html' %} {% load static %} {% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<link href="{% static 'css/clipboard.css' %}" rel="stylesheet" />

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div>
            <img src="{% static '/assets/img/Layer2.png' %}" style="width: 40px" />
          </div>
          <div class="sidebar-brand-text mx-3"><span>Cipher Buddy</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item">
            <a class="nav-link" href="/portal/home">Submit Cyber Complaint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portal/complaint">Submit Site Complaint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portal/status">Complaint Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/transfer">P2P Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portal/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portal/about">About Us</a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline"></div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div>
          <div>
            <a class="back"></a>

            <div id="stage">
              <div id="step1">
                <div class="content">
                  <a class="button send magenta">getting ready</a>
                  <small>Send files peer-to-peer and end-to-end encrypted.</small><br />
                  <br />
                  <input type="file" id="send-input" />
                </div>
              </div>

              <div id="step2">
                <div class="content if-send">
                  <div class="input-group">
                    <input type=url class=url upload onClick=this.select() readonly id=connection-id
                      ${!state.dashboard.connectionId ? 'disabled' : 'readonly' } value="${window.location.href +
                    '#/join/' + state.dashboard.connectionId}">
                    <span class="input-group-button">
                      <button class="btn" data-clipboard-target="#connection-id">
                        <img class="clippy" src="{% static 'img/clippy.svg' %}" alt="Copy to
                        clipboard" />
                      </button>
                    </span>
                  </div>
                  <div id="transfer-info">
                    Active transfers: <span id="active-transfers">0</span> -
                    Total downloads: <span id="finished-transfers">0</span>
                  </div>
                </div>

                <div class="content if-receive">
                  <a class="button receive red">Receiving...</a>
                  <!--<small>The download dialog will open automatically.</small>-->
                </div>
              </div>

              <div id="step3">
                <div class="content">
                  <a class="button browse blue" id="downloadLink">Et voilà!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © Cipher Buddy 2021</span>
            <div style="margin-top: 8px">
              <span>Made with&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;by BARCODERS</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="{% static '/assets/js/jquery.min.js' %}"></script>
  <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
  <script src="{% static 'js/jquery.easing.js' %}"></script>
  <script src="{% static '/assets/js/theme.js' %}"></script>
  <script src="{% static 'js/bundle.js' %}"></script>
</body>
{% endblock content %}