{% extends 'base.html' %}
{% load static %}
{% block content %}

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div><img src="{% static './assets/img/Layer2.png' %}" style="width: 40px" /></div>
          <div class="sidebar-brand-text mx-3"><span>Cipher Buddy</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item">
            <a class="nav-link" href="/home.html">Submit Cyber Complaint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaint.html">Submit Site Complaint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/status.html">Complaint Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/peer.html">P2P Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactUs.html">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutUs.html">About Us</a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline">
          <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
          <div class="container-fluid">
            <i class="fas fa-laptop-code" style="
                  color: rgb(64, 72, 135);
                  font-size: 27px;
                  margin-right: 8px;
                "></i>
            <h1 style="color: rgb(64, 72, 135); margin-bottom: 0px">
              Submit Cyber Compliant
            </h1>
            <ul class="navbar-nav flex-nowrap ml-auto">
              <li class="nav-item dropdown d-sm-none no-arrow">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i
                    class="fas fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto navbar-search w-100">
                    <div class="input-group">
                      <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                      <div class="input-group-append">
                        <button class="btn btn-primary py-0" type="button">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                  <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span
                      class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img
                      class="border rounded-circle img-profile"
                      src="{% static './assets/img/avatars/avatar1.jpeg' %}" /></a>
                  <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                    <a class="dropdown-item" href="#"><i
                        class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item"
                      href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a><a
                      class="dropdown-item" href="#"><i
                        class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
          <dl>
            <dt>
              <table>
                <tr>
                  <td class="title">Status:</td>
                  <td>
                    <div id="status" class="status"></div>
                  </td>
                </tr>
              </table>
            </dt>
            <dt>
              <td>
                <div id="receiver-id" style="font-weight: bold;" title="Copy this ID to the input on send.html.">ID:
                </div>
              </td>
            </dt>
            <dt class="title">Messages:</dt>
            <div>
              <div class="col-12 px-0" style="border-style: groove; border-radius: 4px">
                <div class="px-4 py-5 chat-box bg-white" id="message" style="height: 30em; overflow: auto"></div>

                <!-- Typing area -->
                <div class="input-group">
                  <input type="text" id="sendMessageBox" placeholder="Type a message" aria-describedby="button-addon2"
                    class="form-control rounded-0 border-0 py-4 bg-light" />
                  <div class="input-group-append">
                    <button id="sendButton" type="submit" class="btn btn-link">
                      <i class="fa fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            </dt>
          </dl>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © Cipher Buddy 2021</span>
            <div style="margin-top: 8px">
              <span>Made with&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;by BARCODERS</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="{% static '/assets/js/jquery.min.js' %}"></script>
  <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
  <script src="{% static 'js/jquery.easing.js' %}"></script>
  <script src="{% static '/assets/js/theme.js' %}"></script>
  <script src="{% static 'js/peerjs.min.js' %}"></script>
  <script src="{% static 'js/recieveText.js' %}"></script>
</body>
{% endblock content %}